<%+header%>

<h2>
  <a id="about" name="about"><%:License%></a>
</h2>

<p style="text-align:center;">
  <%:LuCI interface: Apache License 2.0%><br/>
  <%:scutclient core%>: <a href="https://www.gnu.org/licenses/agpl-3.0.html">GNU AGPLv3</a>
</p>
<p style="text-align:center;"><%:Commercial use of the scutclient code by any individual or organization is prohibited. Any consequences and legal liabilities arising from it are borne by the violator.%></p>


<h2>
  <a id="thanks" name="thanks"><%:Acknowledgements%></a>
</h2>
<p style="text-align:center;"><%:The owner's cat%><br/>ฅ(⌯͒• ɪ •⌯͒)ฅ❣</p>
<br/>

<p style="text-align:center;">
  <a href="http://weibo.com/scutrouter"><%:SCUT Router Group on Sina Weibo%></a><br/>
  <%:QQ group%>: <a href="http://jq.qq.com/?_wv=1027&k=27KCAyx">262939451</a>
</p>

<%+footer%>
